In [1]:
import pandas as pd
import numpy as np

train_clinical_data = pd.read_csv('train_clinical_data.csv')
train_peptides = pd.read_csv('train_peptides.csv')
train_proteins = pd.read_csv('train_proteins.csv')

In [2]:
train_clinical_data['updrs_4'].fillna(0, inplace=True)
train_clinical_data['upd23b_clinical_state_on_medication'].fillna('Off', inplace=True)

train_clinical_data_pivot = pd.pivot_table(train_clinical_data, values=['updrs_1', 'updrs_2', 'updrs_3', 'updrs_4', 'upd23b_clinical_state_on_medication'], index=['patient_id', 'visit_month'])

In [3]:
train_peptides['PeptideAbundance'] = pd.to_numeric(train_peptides['PeptideAbundance'], errors='coerce')
train_peptides = train_peptides.groupby(['visit_id', 'patient_id', 'UniProt'])['PeptideAbundance'].mean().reset_index()
train_peptides_pivot = pd.pivot_table(train_peptides, values='PeptideAbundance', index=['patient_id'], columns='UniProt')

train_proteins = train_proteins[['patient_id', 'visit_month', 'UniProt', 'NPX']]
train_proteins = train_proteins.drop_duplicates(subset=['patient_id', 'visit_month', 'UniProt'])

In [4]:
merged_df = pd.merge(train_clinical_data, train_peptides, on='visit_id', how='inner')

In [11]:
merged_df = pd.merge(train_clinical_data, train_proteins, on='patient_id', how='inner')

In [12]:
merged_df

,visit_id,patient_id,visit_month_x,updrs_1,updrs_2,updrs_3,updrs_4,upd23b_clinical_state_on_medication,visit_month_y,UniProt,NPX
0,55_0,55,0,10.0,6.0,15.0,0.0,Off,0,O00391,11254.3
1,55_0,55,0,10.0,6.0,15.0,0.0,Off,0,O00533,732430.0
2,55_0,55,0,10.0,6.0,15.0,0.0,Off,0,O00584,39585.8
3,55_0,55,0,10.0,6.0,15.0,0.0,Off,0,O14498,41526.9
4,55_0,55,0,10.0,6.0,15.0,0.0,Off,0,O14773,31238.0
...,...,...,...,...,...,...,...,...,...,...,...
2548736,65043_84,65043,84,7.0,9.0,20.0,3.0,Off,48,Q9UBX5,48796.4
2548737,65043_84,65043,84,7.0,9.0,20.0,3.0,Off,48,Q9UHG2,320821.0
2548738,65043_84,65043,84,7.0,9.0,20.0,3.0,Off,48,Q9UKV8,39046.7
2548739,65043_84,65043,84,7.0,9.0,20.0,3.0,Off,48,Q9Y646,20198.8
2548740,65043_84,65043,84,7.0,9.0,20.0,3.0,Off,48,Q9Y6R7,39535.0

In [7]:
train_proteins

        patient_id  visit_month UniProt       NPX
0               55            0  O00391   11254.3
1               55            0  O00533  732430.0
2               55            0  O00584   39585.8
3               55            0  O14498   41526.9
4               55            0  O14773   31238.0
...            ...          ...     ...       ...
232736       58648          108  Q9UBX5   27387.8
232737       58648          108  Q9UHG2  369437.0
232738       58648          108  Q9UKV8  105830.0
232739       58648          108  Q9Y646   21257.6
232740       58648          108  Q9Y6R7   17953.1

[232741 rows x 4 columns]

In [8]:
train_peptides

       visit_id  patient_id UniProt  PeptideAbundance
0       10053_0       10053  O00391       9104.270000
1       10053_0       10053  O00533      57474.485714
2       10053_0       10053  O14773       7150.570000
3       10053_0       10053  O14791       2497.840000
4       10053_0       10053  O15240      41501.450000
...         ...         ...     ...               ...
232736    942_6         942  Q9UHG2      76655.122500
232737    942_6         942  Q9UKV8      82335.500000
232738    942_6         942  Q9UNU6      24018.700000
232739    942_6         942  Q9Y646      18939.500000
232740    942_6         942  Q9Y6R7       7625.610000

[232741 rows x 4 columns]

In [9]:
train_clinical_data

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,upd23b_clinical_state_on_medication
0,55_0,55,0,10.0,6.0,15.0,0.0,Off
1,55_3,55,3,10.0,7.0,25.0,0.0,Off
2,55_6,55,6,8.0,10.0,34.0,0.0,Off
3,55_9,55,9,8.0,9.0,30.0,0.0,On
4,55_12,55,12,10.0,10.0,41.0,0.0,On
...,...,...,...,...,...,...,...,...
2610,65043_48,65043,48,7.0,6.0,13.0,0.0,Off
2611,65043_54,65043,54,4.0,8.0,11.0,1.0,Off
2612,65043_60,65043,60,6.0,6.0,16.0,1.0,Off
2613,65043_72,65043,72,3.0,9.0,14.0,1.0,Off
2614,65043_84,65043,84,7.0,9.0,20.0,3.0,Off